<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list mode="md" lines="none" inset="false">
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ionic Framework</ion-card-title>
          <ion-card-subtitle>7.2.1</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Ionic é um framework de desenvolvimento de aplicativos móveis que
            permite criar aplicativos híbridos usando tecnologias web como HTML,
            CSS e JavaScript. Ele fornece uma biblioteca de componentes prontos
            para uso, facilitando a criação de interfaces de usuário atraentes e
            responsivas.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Angular Framework</ion-card-title>
          <ion-card-subtitle>19.0</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Angular é um framework de desenvolvimento de aplicativos web
            desenvolvido pelo Google. Ele permite criar aplicativos de página
            única (SPA) usando TypeScript e fornece uma estrutura robusta para
            gerenciar a lógica do aplicativo, o roteamento e a comunicação com
            APIs.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Node.js</ion-card-title>
          <ion-card-subtitle>22.14.0</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Node.js é um ambiente de execução JavaScript do lado do servidor que
            permite executar código JavaScript fora do navegador. Ele é
            amplamente utilizado para criar aplicativos web escaláveis e
            eficientes.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>NPM</ion-card-title>
          <ion-card-subtitle>10.9.2</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            NPM (Node Package Manager) é o gerenciador de pacotes padrão para
            Node.js. Ele permite instalar, atualizar e gerenciar dependências de
            projetos JavaScript.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Visual Studio Code</ion-card-title>
          <ion-card-subtitle>1.98.0</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            O Visual Studio Code é um editor de código-fonte leve e poderoso
            desenvolvido pela Microsoft. Ele oferece suporte a várias linguagens
            de programação, extensões e recursos avançados de depuração.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>TypeScript</ion-card-title>
          <ion-card-subtitle>5.6.3</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            TypeScript é um superconjunto de JavaScript que adiciona tipagem
            estática ao JavaScript. Ele é amplamente utilizado em projetos
            Angular para melhorar a legibilidade e a manutenção do código.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Capacitor</ion-card-title>
          <ion-card-subtitle>7.2.0</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Capacitor é uma biblioteca de código aberto que permite criar
            aplicativos móveis nativos usando tecnologias web. Ele fornece uma
            ponte entre o código JavaScript e as APIs nativas do dispositivo.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Android Studio</ion-card-title>
          <ion-card-subtitle>2025.1.1</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Android Studio é o ambiente de desenvolvimento integrado (IDE)
            oficial para o desenvolvimento de aplicativos Android. Ele fornece
            ferramentas para criar, testar e depurar aplicativos Android.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Git</ion-card-title>
          <ion-card-subtitle>2.42.0</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Git é um sistema de controle de versão distribuído amplamente
            utilizado para rastrear alterações em arquivos e colaborar em
            projetos de software.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>GitHub</ion-card-title>
          <ion-card-subtitle>2.42.0</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            GitHub é uma plataforma de hospedagem de código-fonte que utiliza o
            Git como sistema de controle de versão. Ele permite colaboração em
            projetos, gerenciamento de repositórios e integração contínua.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
