<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom" mode="ios">
      <ion-tab-button tab="home" mode="ios">
        <ion-icon name="home"> </ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="quotes">
        <ion-icon name="cube"></ion-icon>
        <ion-label>Frases</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="about" mode="ios">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
