<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Mobile Ionic + Angular.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Luis Felipe Macedo dos Santos</ion-card-title>
      <ion-card-subtitle>2025.1 BS Mobile - ADS 301M</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="/assets/luis2.jpg" alt="Imagem de Luis Felipe Macedo dos Santos">

      </ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
