<ion-header>
  <ion-toolbar>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Consumo de serviços externos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Consuma uma api externa de frases motivacionais. Navegue até a aba
      "Quotes"
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Navegação através de abas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Selecione uma das abas abaixo para acessar as diferentes seções do
      aplicativo. Volte quando quiser.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre o aplicativo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Entenda as tecnologias utilizadas no projeto.
    </ion-card-content>
  </ion-card>
</ion-content>
